.productList {
  width: 100%;
  height: 100%;

  display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr));
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  grid-auto-rows: 180px 1fr auto;
  gap: var(--mantine-spacing-sm);
}
