.container {
  background-color: light-dark(
    var(--mantine-color-neutral-3),
    var(--mantine-color-neutral-7)
  );
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.breadcrumb {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.breadcrumbSeparator {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
