.ql-toolbar {
  &.ql-snow {
    border: none;
    padding: 0;

    .ql-formats {
      .ql-picker {
        &.ql-size {
          width: 80px;
        }
      }

      .ql-picker-label {
        padding-left: 0;
      }
    }
  }
}

.ql-container {
  &.ql-snow {
    border: none;
  }

  .ql-editor {
    padding-left: 0;
    padding-right: 0;
  }
}
